body{
    background:#0cd7ed;
	background: linear-gradient(#0cd7ed, #0c31ed);
	background-repeat:no-repeat;
	height:95vh;
	width:100vw;
}

header {
    display: flex;
    height: 5vh;
    align-items: center;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    color:black;
}

nav{
	font-size:2em;
	font-family: Arial;
    border-bottom: 2px solid black;
}

h1{
    padding-left: 40vw;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1em;
    width: 100%;
    color: black;
    text-align: center;
 }